[submodule "EPII_CM55M_APP_S/library/cmsis_cv/CMSIS-CV"]
	path = EPII_CM55M_APP_S/library/cmsis_cv/CMSIS-CV
	url = https://github.com/ARM-software/CMSIS-CV.git
[submodule "EPII_CM55M_APP_S/app/scenario_app/grovety_tts/stories"]
	path = EPII_CM55M_APP_S/app/scenario_app/grovety_tts/stories
	url = https://mir.dev/bitbucket/scm/grcbase/tinystories.cpp.git
	branch = stories_7m_fc_ethos-u55-64
